<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= @question.screenshot %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>


<h3 >Comments:</h3>
       <% if @question.comments.present? %>
       <div class="col-md-12" style="background-color:pink;">
		<!-- renders the _comment.html.erb partial file. -->
	   	<p><%= render @question.comments %></p>
      </div>
     <% else %>
     <p><h3>There Are No Comments <h3></p>
     <% end %>
     
     	<h3>Reply to Message:</h3>
		<!-- renders the comments form -->
		<%= render 'comments/form' %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
