<div class="col-md-12" style="background-color:lightcyan;">
  <div class="col-md-12" style="background-color:lightcyan;">
    <center><%= image_tag "elearning_slide.png"%></center><br />
    <%= image_tag "what-is-elearning.png", height:350, width:459%><br />
    <%= image_tag "E_Learning.jpg", height:350, width:459, class:"pull-right" %><br />
    </div>
    <div class="col-md-12" style="background-color:lightcyan;">
     <%= image_tag "e-Learning-Portal-Development.jpg", height:350, width:459%><br />
     <%= image_tag "elearningpunchedoutimages-web.jpg", height:350, width:459, class:"pull-right" %><br />
    </div>
</div>