<p id="notice"><%= notice %></p>

 <div class="row">

  <% if @courses.count == 0 %>

	<h1>There are no courses  </h1>

<% else %>	

	

		<% @courses.each do |course| %>

			<div class="col-xs-6 col-sm-4">
			<center><h3><%= course.name %></h3></center>
			          <div class="relative">
			            <% if course.image.present? %>
                      <%= link_to image_tag(course.image,:class => "style_image", height:200, width:300), course %>
                      
                    <% if course.user.profile.image.present? %>  
                      <%= image_tag course.user.profile.image, class:"absolute", height:50, width:50 %>
                      <% else %>
                         <%= image_tag "images.png", class:"absolute", height:50, width:50 %>
                      <% end %>
                  </div>
                   <% else %>
                     <%= link_to image_tag("course.png",:class => "style_image", height:200, width:300), course %>
                      
                     
                     <% if course.user.profile.image.present? %>  
                      <%= image_tag course.user.profile.image, class:"absolute", height:50, width:50 %>
                      <% else %>
                         <%= image_tag "images.png", class:"absolute", height:50, width:50 %>
                      <% end %>
                   </div>
                   
                 <% end %>
              <br />
              <br />
				 
		    	</div>	

		<% end %>
	
  <% end %>	

