<%= simple_form_for([@course, @course.units.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder:"Enter Unit Name" %>
    
    <%= f.input :youtube_url, placeholder:"Enter Youtube_URL", require: true %>
    
    
  </div>
  <br />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
